.filters-inner {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.filters-title {
    display: flex;
    align-items: center;
    color: white;
    border-bottom: solid white;
    border-width: 1px;
    width: 100%;
}

.filters-title * {
    padding: 10px;
}

.filters-forms {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.filters-forms div {
    padding: 10px 0;
}

.input-content-from-to {
    display: flex;
    align-items: baseline;
}

.input-content-from-to * {
    margin: 0 4px;
}

input[type="number"] {
    width: 75px;
}


.filters p {
    color: white;
}

.cause-of-death label {
    padding: 0 4px;
}

label {
    color: white;
}

.filters button {
    margin: 10px;
}

.filters button:hover {
    color: #242421 !important;
    background-color: white !important;
}