footer {
    background: #1D695D;
    width: 100%;
    color: white;
    font-size: 14px;
    padding: 20px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.footer-center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    justify-content: center;
}

.footer-center ul {
    margin-bottom: 0;
    padding-top: 16px;
}

.social-media {
    display: flex;
}

.social-media i {
    padding: 8px 12px 8px 0px;
}

.watch-out {
    display: none;
}

 .stay-disconnected:hover .watch-out {
    display: block;
    text-align: center;
}

.watch-out:hover .watch-out {
    display: none !important;
}

.fab {
    cursor: pointer;
}

.email-subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px 20px 8px;
    border-bottom: 0.5px solid;
    width: 100%
}

.email-subscription * {
    padding: 6px 0;
    display: flex;
    text-align: center;
}

.email-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.email-form>* {
    border-radius: 6px;
    margin: 0 10px;
    max-width: 1100px;
}

.email-form input {
    border: none;
    background-color: white;
    width: 50%;
    text-align: initial;
    padding: 8px;
}

.email-form button {
    background-color: transparent;
    border: solid white;
    padding: 10px;
    color: white;
    font-weight: bold;
}




.footer-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-bottom li {
    padding: 0 20px;
}

#company {
    margin-top: 20px;
}

.fa-eye {
    cursor: none;
}

#watch-out-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    text-align: center;

}

#watch-out-overlay p {
    color: #ffef76;
    text-align: center;
}

#watch-out-overlay .text {
    display: flex;
    flex-direction: column;
    padding-top: 30%;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 35px;
    font-weight: bold;
}



@media (max-width: 1024px) {
    /* .footer-center {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .stay-disconnected {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 24px;
    } */
    .footer-center h3 {
        font-size: 2.5vw;
        font-weight: bold;
    }
    .watch-out {

    }
}

@media (max-width: 700px) {
    .footer-center {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 400px;
    }
    .stay-disconnected {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .footer-center h3 {
        font-size: 3.5vw;
    }
    .stay-disconnected:hover .footer-bottom {
        /* margin-top: 16px; */
    }
    .footer-center h3 {
        font-size: 3.5vw;
    }
}

@media (max-width: 520px) {
    .footer-center {
        display: flex;
        flex-direction: column;
        height: inherit;
        justify-content: center;

        /* height: 450px;
        column-gap: 16px; */
    }
    .footer-center ul {
        width: 100%;
        text-align: center;
    }
    .stay-disconnected {
        grid-column-start: 2;
        grid-column-end: 2;
    }
    .social-media {
        justify-content: center;
    }
    .footer-center h3 {
        font-size: 1.5rem;
    }
    .footer-bottom {
        margin-top: 16px;
        width: 100%;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 8px;
    }
}