
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: #8F8E88;
    color: black;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: white;
    text-decoration: none;

}

a:hover {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    height: inherit;
    list-style-type: none;
}

h3 {
   color: white;
}

h4 {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
}

a {
    color: #fff;
    text-decoration: none;
    outline: 0;
}

button {
    outline: 0 !important;
    font-weight: bold;
    background-color: transparent;
    border: solid white;
    padding: 2px 4px;
    color: white;
    transition-duration: 0.165s;
    transition-timing-function: cubic-bezier(0.55,0.055,0.675,0.19);
    border-radius: 6px !important;
}

p {
    margin: 0.5rem 0;
}
